USE [master]
GO
/****** Object:  Database [Kopiko]    Script Date: 31/03/2021 09:28:36 SA ******/
CREATE DATABASE [Kopiko]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kopiko', FILENAME = N'D:\Pro\MicrosoftSQLServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\Kopiko.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Kopiko_log', FILENAME = N'D:\Pro\MicrosoftSQLServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\Kopiko_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kopiko].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kopiko]
GO
/****** Object:  Table [dbo].[account]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](250) NULL,
	[avatar] [varchar](255) NULL,
	[date_created] [datetime] NULL CONSTRAINT [DF_account_date_created]  DEFAULT (getdate()),
	[email] [varchar](255) NULL,
	[full_name] [nvarchar](30) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[role] [varchar](255) NULL CONSTRAINT [DF__account__role__3F466844]  DEFAULT (user_name()),
	[status] [int] NULL CONSTRAINT [DF__account__status__403A8C7D]  DEFAULT ((1)),
	[username] [varchar](255) NOT NULL,
	[gender] [nvarchar](10) NULL,
	[birthday] [date] NULL,
 CONSTRAINT [PK__account__46A222CDDF6E8AA7] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[brand]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [bigint] IDENTITY(1,1) NOT NULL,
	[brand_img_url] [varchar](255) NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
	[info] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_code] [varchar](255) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[parents_category_id] [bigint] NULL,
 CONSTRAINT [PK__category__D54EE9B4C6D7E6B7] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[comment]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [ntext] NOT NULL,
	[date_created] [datetime] NULL,
	[parents_comment_id] [bigint] NULL,
	[account_id] [bigint] NULL,
	[product_id] [bigint] NOT NULL,
	[title] [ntext] NOT NULL,
 CONSTRAINT [PK__comment__E79576874C39EE4E] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comment_image]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comment_image](
	[comment_image_id] [bigint] NOT NULL,
	[image_url] [varchar](255) NULL,
	[comment_id] [bigint] NULL,
 CONSTRAINT [PK_comment_image] PRIMARY KEY CLUSTERED 
(
	[comment_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_created] [datetime] NOT NULL CONSTRAINT [DF_order_date_created]  DEFAULT (getdate()),
	[delivery_info] [nvarchar](250) NOT NULL,
	[account_id] [bigint] NOT NULL,
	[order_status_id] [bigint] NOT NULL CONSTRAINT [DF_order_order_status_id]  DEFAULT ((1)),
	[payment_method_id] [bigint] NOT NULL,
	[shipping_fee] [money] NULL,
 CONSTRAINT [PK__order__46596229D5EA9820] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[sale_price] [money] NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_detail_id] [bigint] NULL,
 CONSTRAINT [PK__order_de__3C5A408087CB8967] PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_status]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[order_status_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[payment_method_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_method_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persistent_Logins]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persistent_Logins](
	[username] [varchar](64) NULL,
	[series] [varchar](64) NOT NULL,
	[token] [varchar](64) NULL,
	[last_used] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_created] [datetime] NULL CONSTRAINT [DF_product_date_created]  DEFAULT (getdate()),
	[description] [ntext] NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[status] [int] NULL CONSTRAINT [DF__product__status__5070F446]  DEFAULT ((1)),
	[brand_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[price] [money] NOT NULL,
	[sale_price] [money] NOT NULL,
 CONSTRAINT [PK__product__47027DF58182CBF0] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_detail](
	[product_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[size] [nvarchar](20) NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [PK__product___DDB4AD33A439F051] PRIMARY KEY CLUSTERED 
(
	[product_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_image]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_image](
	[product_image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [PK__product___DC9AC955F99CB2B6] PRIMARY KEY CLUSTERED 
(
	[product_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[province]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[province](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_province] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[temp_month]    Script Date: 31/03/2021 09:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_month](
	[month] [int] NOT NULL,
	[name] [nvarchar](10) NULL,
 CONSTRAINT [PK_temp_month] PRIMARY KEY CLUSTERED 
(
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [address], [avatar], [date_created], [email], [full_name], [password], [phone], [role], [status], [username], [gender], [birthday]) VALUES (1, N'Huế, Việt Nam', N'avatar-admin.jpg', CAST(N'2021-03-23 14:56:44.110' AS DateTime), N'hqk@gmail.com', N'Hoàng Quốc Khánh', N'123456', N'0389829121', N'ADMIN', 1, N'admin', NULL, NULL)
INSERT [dbo].[account] ([account_id], [address], [avatar], [date_created], [email], [full_name], [password], [phone], [role], [status], [username], [gender], [birthday]) VALUES (2, N'Huế, Việt nam', N'avatar-user.png', CAST(N'2021-03-23 14:56:44.110' AS DateTime), N'user1@gmail.com', N'Trần Thiên', N'123456', N'0389829122', N'USER', 1, N'thuan', NULL, NULL)
INSERT [dbo].[account] ([account_id], [address], [avatar], [date_created], [email], [full_name], [password], [phone], [role], [status], [username], [gender], [birthday]) VALUES (3, N'Đà Nẵng, Việt nam', N'avatar-user.png', CAST(N'2021-03-23 14:56:44.110' AS DateTime), N'user2@gmail.com', N'Lê Minh Long', N'123456', N'0337843104', N'USER', 1, N'nghia', NULL, NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([brand_id], [brand_img_url], [brand_name], [info]) VALUES (1, N'3e259b22-a039-4e96-a7d9-db2d57ca588d.jpg', N'PRADA', N'')
INSERT [dbo].[brand] ([brand_id], [brand_img_url], [brand_name], [info]) VALUES (2, N'img2.jsp', N'GUCCI', NULL)
INSERT [dbo].[brand] ([brand_id], [brand_img_url], [brand_name], [info]) VALUES (4, N'i', N'Dior', NULL)
SET IDENTITY_INSERT [dbo].[brand] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_code], [category_name], [parents_category_id]) VALUES (1, N'thoi-trang-nam', N'Thời trang nam', NULL)
INSERT [dbo].[category] ([category_id], [category_code], [category_name], [parents_category_id]) VALUES (2, N'thoi-trang-nu', N'Thời trang nữ', NULL)
INSERT [dbo].[category] ([category_id], [category_code], [category_name], [parents_category_id]) VALUES (3, N'ao-thun-nu', N'Áo thun nữ', 2)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([order_id], [date_created], [delivery_info], [account_id], [order_status_id], [payment_method_id], [shipping_fee]) VALUES (1, CAST(N'2021-03-31 00:00:00.000' AS DateTime), N'Khách hàng: Hoàng Quốc Khánh;Sđt: 0389829121;Địa chỉ: Huế, Việt Nam', 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([order_detail_id], [quantity], [sale_price], [order_id], [product_detail_id]) VALUES (1, 1, 139000.0000, 1, 1)
INSERT [dbo].[order_detail] ([order_detail_id], [quantity], [sale_price], [order_id], [product_detail_id]) VALUES (2, 1, 199000.0000, 1, 2)
SET IDENTITY_INSERT [dbo].[order_detail] OFF
SET IDENTITY_INSERT [dbo].[order_status] ON 

INSERT [dbo].[order_status] ([order_status_id], [status_name]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[order_status] ([order_status_id], [status_name]) VALUES (2, N'Đã xác nhận')
INSERT [dbo].[order_status] ([order_status_id], [status_name]) VALUES (3, N'Đang giao hàng')
SET IDENTITY_INSERT [dbo].[order_status] OFF
SET IDENTITY_INSERT [dbo].[payment_method] ON 

INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name]) VALUES (1, N'Nhận hàng và thanh toán')
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name]) VALUES (2, N'Thanh toán bằng thẻ quốc tế Visa, Master, JCB')
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name]) VALUES (3, N'Thang toán bằng thẻ ATM nội địa/Internet Banking')
SET IDENTITY_INSERT [dbo].[payment_method] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

GO
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[product_detail] ON 

INSERT [dbo].[product_detail] ([product_detail_id], [quantity], [size], [product_id]) VALUES (1, 99, N'Mặc định', 1)
INSERT [dbo].[product_detail] ([product_detail_id], [quantity], [size], [product_id]) VALUES (2, 9, N'Mặc định', 2)
INSERT [dbo].[product_detail] ([product_detail_id], [quantity], [size], [product_id]) VALUES (3, 1, N'Mặc định', 3)
GO
SET IDENTITY_INSERT [dbo].[product_detail] OFF
SET IDENTITY_INSERT [dbo].[product_image] ON 

INSERT [dbo].[product_image] ([product_image_id], [image_url], [product_id]) VALUES (1, N'ddea6a74-09be-424f-ad60-8c05dcc5049c.png', 1)
INSERT [dbo].[product_image] ([product_image_id], [image_url], [product_id]) VALUES (2, N'c42d632d-595e-4aed-8882-a8a653c9dc92.png', 1)
INSERT [dbo].[product_image] ([product_image_id], [image_url], [product_id]) VALUES (3, N'd02f0ab1-4873-4c5c-816a-e27704115fcb.jpg', 2)
GO
SET IDENTITY_INSERT [dbo].[product_image] OFF
SET IDENTITY_INSERT [dbo].[province] ON 

INSERT [dbo].[province] ([id], [code], [name]) VALUES (1, N'VN-44', N'An Giang')
INSERT [dbo].[province] ([id], [code], [name]) VALUES (2, N'VN-43', N'Bà Rịa–Vũng Tàu')
INSERT [dbo].[province] ([id], [code], [name]) VALUES (3, N'VN-54', N'Bắc Giang')
SET IDENTITY_INSERT [dbo].[province] OFF
INSERT [dbo].[temp_month] ([month], [name]) VALUES (1, N'Jan')
INSERT [dbo].[temp_month] ([month], [name]) VALUES (2, N'feb')
INSERT [dbo].[temp_month] ([month], [name]) VALUES (3, N'mar')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_province]    Script Date: 31/03/2021 09:28:36 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_province] ON [dbo].[province]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKm1rmnfcvq5mk26li4lit88pc5] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKm1rmnfcvq5mk26li4lit88pc5]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKp41h5al2ajp1q0u6ox3i68w61] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKp41h5al2ajp1q0u6ox3i68w61]
GO
ALTER TABLE [dbo].[comment_image]  WITH CHECK ADD  CONSTRAINT [FK_comment_image_comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment_image] CHECK CONSTRAINT [FK_comment_image_comment]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FKcxpcc11kb45j9kjf2qol0pmvm] FOREIGN KEY([order_status_id])
REFERENCES [dbo].[order_status] ([order_status_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FKcxpcc11kb45j9kjf2qol0pmvm]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FKfir2cy59xrrxiv1w7bok6pv7e] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FKfir2cy59xrrxiv1w7bok6pv7e]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FKgyqbmqrism0pkm2fuesc66ajp] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([payment_method_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FKgyqbmqrism0pkm2fuesc66ajp]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK4onmghajt9jh9quh6ed3lipdn] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([product_detail_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK4onmghajt9jh9quh6ed3lipdn]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKlb8mofup9mi791hraxt9wlj5u] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKlb8mofup9mi791hraxt9wlj5u]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK1mtsbur82frn64de7balymq9s] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FKilxoi77ctyin6jn9robktb16c] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FKilxoi77ctyin6jn9robktb16c]
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD  CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_image] CHECK CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk]
GO
USE [master]
GO
